:root {
  --main-color: rgb(252, 61, 70);
  --secondary-color: rgb(254, 176, 71);
  --third-color: rgb(252, 61, 70);
  --complement-color: rgb(251, 251, 251);
  
  /*#53ab94;*/

  --subtle-font-color: #888;
}

.button {
  background-color: rgb(252, 61, 70); 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.round_button {
	border-radius: 8px;
}
